<footer>
    <div class="container-xxl flex-wrap pt-3 d-flex align-items-center justify-content-between">
      <p>Copyright © 2023 G5 Surveys  ||  Centennial College Web Application Development Summer Semester Project</p>
      <ul class="social-icons d-flex">
        <a href=" " class="bg-primary mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-twitter"></i></small></a>
        <a href=" " class="bg-primary mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-facebook-f"></i></small></a>
        <a href=" " class="bg-primary mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-linkedin-in"></i></small></a>
      </ul>
    </div>
   </footer>

  <script src="jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <script src="/Scripts/typing.js"></script>
</body>
</html>