<%- include('partials/header'); %>

<section class="container py-5" id="about">
  <div class="row mt-4 py-3">
    <div class="col-12 d-flex flex-column text-center">
      <h2>About</h2>
      <h5 class="text-secondary fw-normal py-2 fst-italic">Learn more about me, my background, and what motivates me.</h5>
    </div>
  </div>
  <div class="row flex-row-reverse flex-md-row mt-5 pt-5">
    <div class="col-9 col-md-5 text-md-end">
      <h5>2006-2014</h5>
      <h5>Early Passion for Technology</h5>
      <p>From an early age, I became fascinated with computers and programming. Starting with basic HTML and CSS, I gradually expanded my skills to include JavaScript and various frameworks.</p>
    </div>
    <div class="col-3 col-md-2 img text-center">
      <img class="rounded-circle border border-5 border-dark-subtle img-fluid" src="/Assets/images/about-img-1.jpg" alt="img">
    </div>
  </div>
  <div class="row justify-content-md-end mt-5 pt-5">
    <div class="col-3 col-md-2 img text-center">
      <img class="rounded-circle border border-5 border-dark-subtle img-fluid" src="/Assets/images/about-img-2.jpg" alt="img">
    </div>
    <div class="col-9 col-md-5">
      <h5>2014-2018</h5>
      <h5>Higher Education and Career Growth</h5>
      <p>During my university years, I studied computer science and gained hands-on experience through internships and freelance projects. This period fueled my passion for creating innovative solutions and solving complex problems.</p>
    </div>
  </div>
  <div class="row flex-row-reverse flex-md-row mt-5 pt-5">
    <div class="col-9 col-md-5 text-md-end">
      <h5>2018-Present</h5>
      <h5>Professional Excellence and Continuous Learning</h5>
      <p>Throughout my career, I have consistently sought opportunities to refine my skills and stay updated with the latest technologies. I strive for excellence in every project I undertake and aim to deliver valuable and impactful results.</p>
    </div>
    <div class="col-3 col-md-2 img text-center">
      <img class="rounded-circle border border-5 border-dark-subtle img-fluid" src="/Assets/images/about-img-3.jpg" alt="img">
    </div>
  </div>
  <div class="row justify-content-md-end mt-5 pt-5">
    <div class="col-3 col-md-2 img text-center">
      <img class="rounded-circle border border-5 border-dark-subtle img-fluid" src="/Assets/images/about-img-4.jpg" alt="img">
    </div>
    <div class="col-9 col-md-5">
      <h5>Future</h5>
      <h5>Continuing to Make a Difference</h5>
      <p>I am committed to leveraging my skills and expertise to contribute to meaningful projects that have a positive impact on society. I am eager to take on new challenges and collaborate with talented individuals to create innovative solutions.</p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-5 pt-5">
    <div class="col-3 col-md-2 d-flex justify-content-center hire-text">
      <h2 class="h4 d-flex justify-content-center align-items-center bg-primary text-white rounded-circle border border-5 border-dark-subtle">More<br>Things<br>Ahead</h2>
      <br><button class="hire" type="button" name="button"><a hire1 href="/Content/Joshua Isaac Resume.pdf">Resume</a></button>
    </div>
  </div>     
</section>

<%- include('partials/footer'); %>