<%- include('partials/header'); %>


  <section class="home d-flex flex-column align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-3 text-aqua fw-bold ">Welcome to G5 Surveys Homepage</h1>
      <h2 class="h1 text-gold fw-medium fst-italic fw-bold"> Redefining Web Surveys</h2>
      
    </div>
  </section>
<%- include('partials/footer'); %>